*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;

	/* removes blue highlight after touch click */
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	height: 100%;
}

body {
	background: var(--background);
	color: var(--color);
	font-family: 'Arimo', sans-serif;
}

:root {
	--background: #add8e6;
	--color: #000;
	--border-color-active: #fa8072;
	--border-color: #aaa;
	--card-background: #fff;
	--button-color: #202020;

	--border-width: 2px;
}

.card {
    background: var(--card-background);
    border-radius: 10px;
    border: var(--border-width) solid var(--border-color);
    padding: 5px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    cursor: pointer;
    justify-self: center;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #344044;
		--color: #DCD7C9;
		--border-color-active: #A27B5C;
		--border-color: #3F4E4F;
		--card-background: #2C3639;
		--button-color: #bcbcbc;
	}
}