*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;

	/* removes blue highlight after touch click */
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	height: 100%;
}

body {
	background: lightblue;
	font-family: 'Arimo', sans-serif;
}

.card {
	--border-color: #aaa;
	--border-width: 2px;
    background: white;
    border-radius: 10px;
    border: var(--border-width) solid var(--border-color);
    padding: 5px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    cursor: pointer;
    justify-self: center;
}